# fly.toml app configuration file generated for moments-bot on 2025-12-17T23:06:50-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'moments-bot'
primary_region = 'ewr'

[build]

[env]
  DB_DIR = '/data'

[[mounts]]
  source = 'moments_data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = false
  min_machines_running = 1
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
